/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.05.2015, 09:55:53
    Author     : Pia Valentin
*/

@media print{
    
    div.navigation
    div.navmenu,
    div.trenner,
    div.warenkorb,
    div.warenkorbsymbol,
    div.holzbild,
    div.newsfeed,
    div.holzbri,
    div.slide,
  
    div.bottom
    
    {
        display:none !important;
    }
    
    
    a.normalmono,
    img.logobild
    {
        display: none !important;
    }
    
    p {
    font-family: Arial;
    font-size: 12pt;
    //text-align: justify;
    }
    
    
    body {
    background-color:white;
    }
    
    
    div.logo{
      position: absolute;
      padding-top:220px;
      padding-left:95%;
      //width:250px;
      //height:63px;  
      background-image:url('holzlogo.png');
      background-size: 300px;
      background-repeat: no-repeat;
      
      background-position:center;
      
    }
    
    #logobild{
   
        display:none;
    }
    
    #analog{
        display: none !important;
    }
    
    
    
    .copyright{
        display:none;
    }
    
    
    
    div.shop{
        position: absolute;
        top: 200px;
        width: 100%;
        top: 180pt;
        left: 30pt;
        
        background-color:white;
    }
    
    
    
    .shop tr td th{
        
        font-family: Arial;
        font-size: 12pt;
        text-align: justify;
        background-color: white !important;
    }
    
    .shop #kaufen, #kaufen2, #kaufen3, #kaufen4{
        display: none;
    }
       
    
}

