/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.05.2015, 15:16:01
    Author     : Pia Valentin
*/




body{
        background-color: whitesmoke;
    }
    
    #slidebild{
        display: none;
    } 
    
div.logo{
    position: fixed;
    z-index: 99;
    top:0px; 
    left:30px;
    
    background-color:transparent;
}

.logo #analog{display:none;}


div.navigation {
    width:100%;
    height:50px;
    position: fixed;
    z-index:98;
    top:0px;
    left: 0px;
    float:left;
    clear: left;
    background-color: #333333;
    background-attachment: scroll;
    
    
    font-family: Arial;
    
}

div.warenkorb{
    font-size: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    color: white;
    letter-spacing:2px;
    position:fixed; 
    z-index:180;
    top:15px;
    left:85%;
    
}

div.warenkorbsymbol{
    position:fixed; 
    width:31px;
    height:31px;
    z-index:180;
    top:11px;
    left:82%;
    background-image: url('warenkorb_button.png');
    background-size:135px 31px;
    
}




div.navmenu {
  font-size:20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  
  position:fixed; 
  width:85%;
  height:50px;
  z-index:100;
  top:15px;
  left: 290px;
}

div.navmenu ul {
  list-style-type:none;
  list-style-image:none;
  margin:0px;
  padding:0px;
}

div.navmenu li.topmenu {
  float:left;
}

.topmenu a {
  float:left;
  width:110px;
  text-align:left;
}

.topmenu ul{
  display:none;
}

.topmenu a, .submenu a{
  padding:1px 5px;
  border:0px solid white;
  border-collapse:collapse;
  color:white;
  font-weight:lighter;
  text-decoration:none;
  background-color:#333333;
  margin:0;  
}

.submenu a{
  font-size:15px;
  width:180px;
  position:relative;
}

div.navmenu a:hover, .topmenu.on a {
  color:#4C4C4C;
  background-color:whitesmoke !important;
}

.topmenu:hover ul {
  display:block;  
  z-index:500;
}



div.holzbild{
    position: absolute;
    width: 100%;
    left:0px;
    height: 420px;
    
    background-image: url('brennholz.jpg');
    //max-width:100%;
    max-height:100%;
}  

#canvas{
    position: absolute;
    //left: 10%;
    width: 100%;
    height: 420px;
}




div.newsfeed{
    position:absolute;
    z-index: 96;
    left: 50%;
    right:15%;
    top: 210px;
    width: 46%;
    height: 200px;
    overflow: hidden;
   // background: rgba(255,255,255, 0.5);
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    

    //font-family: Arial;
    font-size: 40px;
    color: white;
    //font-style: italic;
    //letter-spacing: 2px;
    line-height: 180%;
    text-align: justify;
 
}


div.trenner{
    position:absolute;
    z-index:96;
    top: 410px;
    left:0px;
    width:100%;
    height:20px;
    background-color: #333333;
}


div.anfahrt {
    position: absolute;
    top: 32px;
    font-family: Arial;
    font-weight: lighter;
    color:white;
    left: -2px;
    width: 101%;
    height: 100%;
    background-color: whitesmoke;
        
}



div.impressum {
    position: absolute;
    top: 20px;
    font-family: Arial;
    font-weight: lighter;
    color: white;
    left:-2px;
    width:101%;
    height: auto;
    background-color: #333333;
}

.impressum h1, h2{
    font-family: 'Raleway';
}

.impressum th{
    width: 50%;
    font-weight: lighter;
    text-align: left;
}

#linkespalte{
    width: 5%;
}

#rechtespalte{
    width: 10%;
}

div.shop{
    position: absolute;
    top:430px;
    left:19%;
    width:70%;
    height: auto;
    background-color: whitesmoke;
    
}


.shop p{
    margin-left:10%;
    font-family: Arial; 
    font-size: 30px;
}

.shop #bild{
   width:5%;
}

.shop #platzhalter, #platzhalter2, #platzhalter3{
    width:2%;
}

.shop #text{
    width:40%;
}

.shop #kaufen, #kaufen2, 
#kaufen3, #kaufen4, #kaufen5, #kaufen6{
    width:20%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}


.shop tr td{
    font-family: Arial;
    text-align: justify;
}


.shop img{
    width:150px;
    height: 150px;
    border-radius: 150px;
    
    //opacity: 0.7;
}

.shop tr #woodtitle p,
#woodtitle2 p, 
#woodtitle3 p,
#woodtitle4 p,
#woodtitle5 p,
#woodtitle6 p{
    margin-top: -171px;
   
    margin-left: 0.7px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400; 
    font-size: 20px;
    color: #333333;
}

.shop tr #nametitle p, #nametitle2 p, #nametitle3 p{
    margin-top: -220px;
   
    //margin-left: 6px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400; 
    font-size: 20px;
    color: #333333;
}

div.bottom{
    //display: none;
    
    
   position: fixed;
   bottom:0;
   left:0px;
   width:100%;
   height: 20px;
   background-color: #333333;
   background-attachment: scroll;
   z-index: 4444444;
   font-family: Arial;
   font-size: 9px;
   letter-spacing: 2px;
   text-align: center;
   line-height: 240%;
   color: white;
}

div.kontakt{
   position: fixed;
   bottom:0;
   left:0px;
   width:100%;
   height: 120px;
   background-color: #333333;
   background-attachment: scroll;
   text-align: center;
    //height: 100%;
    //width: 200px;
    z-index: 33333;
    //top: 50px;
    right: -1px;
    font-family: Arial;
    color: whitesmoke;
    
    
    display:inline-block;
}

div.kontaktbild {
   position: absolute;
   z-index: 55666655;
   bottom:15px;
   right:50px;
}

.kontaktbild img{
    width:150px;
    height: 150px;
    border-radius: 150px;
    display:inline-block;
    
    //vertical-align:top;
    //margin-right:10px;
}


#Sondermengen {
    font-family: 'Raleway';
}


