/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.05.2015, 15:16:01
    Author     : Pia Valentin
*/



a.title{}

@import url(https://fonts.googleapis.com/css?family=Raleway);
@media screen, handheld{

    


    body{
        background-color: whitesmoke;
    }
div.logo{
    position: fixed;
    z-index: 99;
    top:0px; 
    left:30px;
    width:1000px;
    height:30px;
    background-color:transparent;
    //background-image: url('logoweiss.png');
    background-size:30px;
    background-attachment: scroll;
}

.logo #analog{display:none;}


div.navigation {
    width:100%;
    height:50px;
    position: fixed;
    z-index:98;
    top:0px;
    left: 0px;
    float:left;
    clear: left;
    background-color: #333333;
    background-attachment: scroll;
    
    
    font-family: Arial;
    
}

div.warenkorb{
    font-size: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    color: white;
    letter-spacing:2px;
    position:fixed; 
    z-index:180;
    top:15px;
    left:85%;
    
}

div.warenkorbsymbol{
    position:fixed; 
    width:31px;
    height:31px;
    z-index:180;
    top:11px;
    left:82%;
    background-image: url('warenkorb_button.png');
    background-size:135px 31px;
    
}




div.navmenu {
  font-size:20px;
  //font-family: Arial;
  
  //letter-spacing: 2px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  
  position:fixed; 
  width:85%;
  height:50px;
  z-index:100;
  top:15px;
  left: 290px;
}

div.navmenu ul {
  list-style-type:none;
  list-style-image:none;
  margin:0px;
  padding:0px;
}

div.navmenu li.topmenu {
  float:left;
}

.topmenu a {
  float:left;
  width:110px;
  text-align:left;
}

.topmenu ul{
  display:none;
}

.topmenu a, .submenu a{
  padding:1px 5px;
  border:0px solid white;
  border-collapse:collapse;
  color:white;
  font-weight:lighter;
  text-decoration:none;
  background-color:#333333;
  margin:0;  
}

.submenu a{
  font-size:15px;
  width:180px;
  position:relative;
  clear:both; /* special IE6 */
}

div.navmenu a:hover, .topmenu.on a {
  color:#4C4C4C;
  background-color:whitesmoke !important;
}

.topmenu:hover ul {
  display:block;  
  z-index:500;
}



div.holzbild{
    position: absolute;
    width: 100%;
    left:0px;
    height: 600px;
    
    background-image: url('brennholz.jpg');
    max-width:100%;
    max-height:100%;
}  

#canvas{
    position: absolute;
    //left: 10%;
    width: 100%;
    height: 600px;
}

/*
div.holzbri{
    position: absolute;
    width: 100%;
    left:0px;
    height: 600px;
    background-image: url('http://www.holz-kohle-briketts.de/editor/image/novinky5/obrazek_31.jpg');
    max-width:100%;
    max-height:100%;
}


    
 div.slide{
    position: absolute;
    z-index: 96;
    top: 108px;
    left:15%;
    width:70%;
    height:400px;
    overflow: auto;
    

    background-color: white;
    background-image: url('http://www.wohnenheute.de/wp-content/uploads/2013/03/kaminfeuer.jpg');
    
    background-size: 100% 400px;
    
    
    }
    */




div.newsfeed{
    position:absolute;
    z-index: 96;
    left: 50%;
    right:10%;
    top: 400px;
    width: 46%;
    height: 140px;
    overflow: auto;
    background: rgba(255,255,255, 0.5);
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    

    //font-family: Arial;
    font-size: 22px;
    //font-style: italic;
    //letter-spacing: 2px;
    line-height: 180%;
    text-align: justify;
 
}


div.trenner{
    position:absolute;
    z-index:96;
    top: 600px;
    left:0px;
    width:100%;
    height:20px;
    background-color: #333333;
}

div.shop{
    position: absolute;
    top:610px;
    left:10%;
    width: 90%;
    height: auto;
    background-color: whitesmoke;
    
}


.shop p{
    margin-left:10%;
    font-family: Arial; 
    font-size: 30px;
}

.shop #bild{
   width:10%;
}

.shop #platzhalter, #platzhalter2{
    width:5%;
}

.shop #text{
    width:30%;
}

.shop #kaufen, #kaufen2, #kaufen3, #kaufen4{
    width:20%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}


.shop tr td{
    font-family: Arial;
    text-align: justify;
}

div.bottom{
   position: fixed;
   bottom:0;
   left:0px;
   width:100%;
   height: 20px;
   background-color: white;
   background-attachment: scroll;
   
   font-family: Arial;
   font-size: 9px;
   letter-spacing: 2px;
   text-align: center;
   line-height: 240%;
}



}